<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>04BF4B60-E06C-4A27-AC84-234D1470BC3F</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Dan Loman</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Word Count</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require 'json'

query = ARGV[0].strip

cc = query.length
wc = query.split(' ').length

result = {
  items: [
    { uid: "#{query}-chars", title: "Characters: #{cc}" },
    { uid: "#{query}-word", title: "Words: #{wc}" },
  ] 
}

puts result.to_json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Enter query</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>04BF4B60-E06C-4A27-AC84-234D1470BC3F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>How to use:

To invoke alfred-http-status-codes, simply type http followed by the status code you would like more information about. The workflow will intelligently filter the status codes as you type, so if you enter http 2, alfred-http-status-codes will display all 200 status codes, along with their name, and a brief description. If you would like more in-depth information about a particular status code, simply hit enter to be taken to the https://httpstatuses.com/ page about that status code.</string>
	<key>uidata</key>
	<dict>
		<key>04BF4B60-E06C-4A27-AC84-234D1470BC3F</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
