[submodule ".oh-my-zsh"]
	path = $HOME/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "oh-my-zsh_custom/plugins/zsh-autosuggestions"]
	path = $HOME/oh-my-zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh_custom/themes/powerlevel9k"]
	path = $HOME/oh-my-zsh_custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
