[mergetool]
	keepBackup = false
[core]
	whitespace = trailing-space,space-before-tab
	trustctime = false
	excludesfile = /Users/danloman/.gitignore_global
[diff]
	mnemonicprefix = true
[push]
	default = tracking
[merge]
	stat = true
	tool = opendiff
[credential]
	helper = osxkeychain
[user]
	name = Dan L
	email = daniel.h.loman@gmail.com
[alias]
	co = checkout
	stash-rename = "!_() { rev=$(git rev-parse $1) && git stash drop $1 || exit 1 ; git stash store -m \"$2\" $rev; }; _"
	stf = stashfiles
	recent-branches = for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
