# Ignore everything by default
/*

# Make exceptions
# Git
!.gitconfig
!.gitignore
!.gitmodules

# Dotfiles (some symlinks)
!.bash_profile.symlink
!.bashrc.symlink
!.vimrc.symlink
!.xvimrc.symlink
!.zshrc.symlink
!.ripgreprc
!.lldbinit
!.lldb_helpers.swift
!load_swift.py

# Rbenv
!.rbenv
.rbenv/**
!.rbenv/version

# Vim
!.vim.symlink/**
.vim.symlink/.netrwhist

# Emacs
/.emacs.d/**
!/.emacs.d/personal/behavior.el
!/.emacs.d/personal/packages.el

# Dotfile symlinks
!/.**.symlink

# Preferences
/Library/**
!/Library/Preferences/TabNine/tabnine_config.json
!/Library/Application Support/Code/User/*.json

# Dev setup files
!Brewfile
!Makefile
!Gemfile
!.macOS

# Scripts
!Code
Code/*
!/Code/Scripts

# Xcode
/Library/Developer/**
!/Library/Developer/Xcode/UserData/CodeSnippets
DerivedData
