[include]
	path = ~/.config/git/.gitconfig.private
[mergetool]
	keepBackup = false
[core]
	whitespace = trailing-space,space-before-tab
	trustctime = false
	excludesfile = .gitignore_global
	pager = delta
	; pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
	mnemonicprefix = true
[push]
	default = current
[pull]
	default = current
	rebase = true
[merge]
	stat = true
	tool = diffconflicts
[credential]
	helper = osxkeychain
[user]
	name = Dan Loman
	email = daniel.h.loman@gmail.com
[alias]
	amend = commit -a --amend --no-edit
	ap = add -p
	build-number = rev-list @ --count
	ci = commit
	cm = "!f(){ git commit -m \"$(echo "${@}")\"; }; f"
	co = checkout
	compare-commits = "!_() { git log --left-right --graph --cherry-pick --oneline --format=format:'%cd %C(cyan) %an %C(yellow)%h %Creset %s %Cgreen%d' --date=short origin/releases/$1...origin/releases/$2; }; _"
	compare-files = "!_() { git diff --name-status origin/releases/$1..origin/releases/$2 | grep ^M; }; _"
	find = log --pretty=\"format:%C(cyan)%ad %C(yellow)%H %Creset%s\" --name-status --grep
	stash-rename = "!_() { rev=$(git rev-parse $1) && git stash drop $1 || exit 1 ; git stash store -m \"$2\" $rev; }; _"
	stf = stashfiles
	recent-branches = for-each-ref --sort=-committerdate --count=10 --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) (%(color:green)%(committerdate:relative)%(color:reset))' refs/heads/
	squash-branch = "!_() { git reset $(git merge-base master $(git rev-parse --abbrev-ref @)); git commit -am \"$1\"; }; _"
	stand-up-yesterday = !"git log --reverse --branches --since=$(if [[ "Mon" == "$(date +%a)" ]]; then echo "last friday"; else echo "yesterday"; fi) --author=$(git config --get user.email) --format=format:'%C(cyan) %ad %C(yellow)%h %Creset %s %Cgreen%d' --date=local"
	stand-up = !"git log --reverse --branches --since='1 week ago' --author=$(git config --get user.email) --format=format:'%C(cyan) %ad %C(yellow)%h %Creset %s %Cgreen%d' --date=local"
	img-diffs = !"git diff @ --cached --name-only | grep .png | xargs imgcat"
	rename = branch -m
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "diffconflicts"]
	cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
	trustExitCode = true
[branch]
	autosetuprebase = always
	sort = -committerdate
[commit]
	gpgsign = false
[fetch]
	prune = true
[url "ssh://git@github.com/instacart"]
	insteadOf = https://github.com/instacart
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color]
	ui = true
[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

