# Swift helpers, and the lldb setup to use them. Presented @ SLUG https://speakerdeck.com/kastiglione/advanced-debugging-and-swift

# create the `alias` used below
command alias alias command alias

# to load python lldb commands
alias import command script import

# to run lldb "shell" scripts
# alias source command source

# to run a shell command, like `open`
alias shell platform shell

# tell lldb to assume swift, not objc
settings set target.language swift
alias clear-lang settings clear target.language

# `load_swift` command is used to load helpers written in swift
import ~/load_swift.py

load_swift ~/.lldb_helpers.swift

alias action breakpoint command add
alias autocontinue breakpoint modify --auto-continue true
