<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1B77007-B948-4D9E-B305-CB7F6F6DFADE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94E3D7E8-8A4F-414F-BBC2-29CA3DC450CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04E632EB-AFBC-4321-92A6-3D3D550D24EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1B77007-B948-4D9E-B305-CB7F6F6DFADE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94E3D7E8-8A4F-414F-BBC2-29CA3DC450CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Adjust display to presets</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Display Arrangement Presets</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>70</integer>
				<key>script</key>
				<string>. ~/.oh-my-zsh/custom/dans_env_setup.zsh

cd /usr/local/bin

echo "{query}" | xargs ./display-arranger</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>94E3D7E8-8A4F-414F-BBC2-29CA3DC450CC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>display-arranger</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>04E632EB-AFBC-4321-92A6-3D3D550D24EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"def1f1380ac686598819b63b1f492c8f5b03cf51.png","title":"Work (side-by-side)","arg":"-setMain 1 -otherPosition 2 onRight-bottomAligned","subtitle":"Main on left, bottom aligned"},{"imagefile":"6113e0126738e27b5e639b9e2bf242476bcf26d4.png","title":"Work (stacked)","arg":"-setMain 1 -otherPosition 2 centered-above","subtitle":"Main display centered below external"},{"imagefile":"390ed3e1bd14dd2f24daef89fd1a2b6038e42a1d.png","title":"Home (side-by-side)","arg":"-setMain 1 -otherPosition 2 onLeft-bottomAligned","subtitle":""},{"title":"Home (stacked)","arg":"-setMain 1 -otherPosition 2 centered-above"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Arrangement Filters</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>B1B77007-B948-4D9E-B305-CB7F6F6DFADE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dsp_arrangements</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Adjust Displays -&gt; Preset Arrangements</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04E632EB-AFBC-4321-92A6-3D3D550D24EC</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>94E3D7E8-8A4F-414F-BBC2-29CA3DC450CC</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>B1B77007-B948-4D9E-B305-CB7F6F6DFADE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
