<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>case_switch.tianhaox.com</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0FCB85AE-F5ED-473C-8230-1029B21D906D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11A27E8F-CBB8-4D02-88D2-99F1C851ECCE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12381700-B418-47A7-B793-F479D1D595D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8098B5CE-F0C9-4472-B3C6-13F6963E08C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D32E7C7-C907-4E9D-9E10-FF25E1C7CEE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>398179C5-C91C-4849-BAFD-4A00C93E022E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2640BFFA-EC56-4D89-BD98-9AE8239C34F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>398179C5-C91C-4849-BAFD-4A00C93E022E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34F337D7-6FC4-4AF1-A107-2F367840DBCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FCB85AE-F5ED-473C-8230-1029B21D906D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35EA2E3E-5C43-410F-8546-57E2CCB33E63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E48DF60B-70A8-4E15-BA1F-A3B08A11CD15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>398179C5-C91C-4849-BAFD-4A00C93E022E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>616FB73C-26C4-4913-B53C-A87FC65B8FC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C7B0A07-3464-44D7-9C64-A5B1F5485A54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE2B25B7-8E5E-4CE4-AAA3-8F145B1B281F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F3AA42F-613F-453C-A8F4-E8EC8EFD312C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8098B5CE-F0C9-4472-B3C6-13F6963E08C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>572F09D9-3024-4F30-85FB-2D1F50FA5288</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FCB85AE-F5ED-473C-8230-1029B21D906D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62F4321F-05E2-47D2-9B7F-8EC29AAD9E60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>904AA098-FF27-4635-AB5C-0FBF10CC9FB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>739DED68-3065-4662-9FF1-DF580703B223</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E48DF60B-70A8-4E15-BA1F-A3B08A11CD15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73E3863A-4824-4C49-81E5-740B1D04775A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE2B25B7-8E5E-4CE4-AAA3-8F145B1B281F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8098B5CE-F0C9-4472-B3C6-13F6963E08C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE09669A-60B4-404E-855F-B6053F1D2EC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>904AA098-FF27-4635-AB5C-0FBF10CC9FB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E948AD75-BA0F-4FB7-80CC-647616160E41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC04D95B-4EAF-4AD9-AB05-E6E30E0CECD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>904AA098-FF27-4635-AB5C-0FBF10CC9FB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E48DF60B-70A8-4E15-BA1F-A3B08A11CD15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C3BC32B-AA76-4236-8ED6-09F9A606B86A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE2B25B7-8E5E-4CE4-AAA3-8F145B1B281F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2C7F4CF-8C02-4493-BB0E-D929097376DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>tianhaox</string>
	<key>description</key>
	<string>FOOBAR ⇌ foobar OR fooBar ⇌ foo_bar OR foo-bar ⇌ fooBar</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Case Switch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BE09669A-60B4-404E-855F-B6053F1D2EC6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>case-upper-lower</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>uppercase ⇌ lowercase</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>12381700-B418-47A7-B793-F479D1D595D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3F3AA42F-613F-453C-A8F4-E8EC8EFD312C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>if [[ "{query}" =~ [A-Z] ]]; then
    echo -n "{query}" | tr '[A-Z]' '[a-z]'
else
    echo -n "{query}" | tr '[a-z]' '[A-Z]'
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8098B5CE-F0C9-4472-B3C6-13F6963E08C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B2C7F4CF-8C02-4493-BB0E-D929097376DA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>case-camel-underscore</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>CamelCase ⇌ underscores</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>73E3863A-4824-4C49-81E5-740B1D04775A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>if [[ "{query}" =~ "_" ]]; then
    echo -n "{query}" | perl -pe 's/^([A-Z]+)/\L$1/g' |perl -pe 's/(_)./uc($&amp;)/ge;s/_//g'
else
    echo -n "{query}" | perl -pe 's/^([A-Z]+)/\L$1/g' | perl -pe 's/([a-z0-9])([A-Z]+)/$1_\L$2/g'
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EE2B25B7-8E5E-4CE4-AAA3-8F145B1B281F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3C7B0A07-3464-44D7-9C64-A5B1F5485A54</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0C3BC32B-AA76-4236-8ED6-09F9A606B86A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>case-kabob-camel</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>kabobCase ⇌ camelCase</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>739DED68-3065-4662-9FF1-DF580703B223</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>35EA2E3E-5C43-410F-8546-57E2CCB33E63</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>if [[ "{query}" =~ "-" ]]; then
    echo -n "{query}" | perl -pe 's/^([A-Z]+)/\L$1/g' | perl -pe 's/(-)./uc($&amp;)/ge;s/-//g'
else
    echo -n "{query}" | perl -pe 's/^([A-Z]+)/\L$1/g' | perl -pe 's/([a-z0-9])([A-Z]+)/$1-\L$2/g'
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E48DF60B-70A8-4E15-BA1F-A3B08A11CD15</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>616FB73C-26C4-4913-B53C-A87FC65B8FC1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>case-upper-lower</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mixed case -&gt; lowercased</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1D32E7C7-C907-4E9D-9E10-FF25E1C7CEE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>917504</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2640BFFA-EC56-4D89-BD98-9AE8239C34F5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>398179C5-C91C-4849-BAFD-4A00C93E022E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E948AD75-BA0F-4FB7-80CC-647616160E41</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>case-lower-upper</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Mixed case -&gt; UPPERCASED</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC04D95B-4EAF-4AD9-AB05-E6E30E0CECD8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>62F4321F-05E2-47D2-9B7F-8EC29AAD9E60</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>904AA098-FF27-4635-AB5C-0FBF10CC9FB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>11A27E8F-CBB8-4D02-88D2-99F1C851ECCE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>case-snake-camel</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>snakeCase ⇌ camelCase</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>34F337D7-6FC4-4AF1-A107-2F367840DBCC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>if [[ "{query}" =~ "_" ]]; then
    echo -n "{query}" | perl -pe 's/^([A-Z]+)/\L$1/g' | perl -pe 's/(_)./uc($&amp;)/ge;s/_//g'
else
    echo -n "{query}" | perl -pe 's/^([A-Z]+)/\L$1/g' | perl -pe 's/([a-z0-9])([A-Z]+)/$1_\L$2/g'
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0FCB85AE-F5ED-473C-8230-1029B21D906D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>572F09D9-3024-4F30-85FB-2D1F50FA5288</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C3BC32B-AA76-4236-8ED6-09F9A606B86A</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>0FCB85AE-F5ED-473C-8230-1029B21D906D</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>1410</real>
		</dict>
		<key>11A27E8F-CBB8-4D02-88D2-99F1C851ECCE</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>1290</real>
		</dict>
		<key>12381700-B418-47A7-B793-F479D1D595D5</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>1D32E7C7-C907-4E9D-9E10-FF25E1C7CEE5</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>860</real>
		</dict>
		<key>2640BFFA-EC56-4D89-BD98-9AE8239C34F5</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>980</real>
		</dict>
		<key>34F337D7-6FC4-4AF1-A107-2F367840DBCC</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>1310</real>
		</dict>
		<key>35EA2E3E-5C43-410F-8546-57E2CCB33E63</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>398179C5-C91C-4849-BAFD-4A00C93E022E</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>3C7B0A07-3464-44D7-9C64-A5B1F5485A54</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>3F3AA42F-613F-453C-A8F4-E8EC8EFD312C</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>572F09D9-3024-4F30-85FB-2D1F50FA5288</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>1410</real>
		</dict>
		<key>616FB73C-26C4-4913-B53C-A87FC65B8FC1</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>62F4321F-05E2-47D2-9B7F-8EC29AAD9E60</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>1200</real>
		</dict>
		<key>739DED68-3065-4662-9FF1-DF580703B223</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>73E3863A-4824-4C49-81E5-740B1D04775A</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>8098B5CE-F0C9-4472-B3C6-13F6963E08C4</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>904AA098-FF27-4635-AB5C-0FBF10CC9FB7</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>1230</real>
		</dict>
		<key>B2C7F4CF-8C02-4493-BB0E-D929097376DA</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>BC04D95B-4EAF-4AD9-AB05-E6E30E0CECD8</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>1080</real>
		</dict>
		<key>BE09669A-60B4-404E-855F-B6053F1D2EC6</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>E48DF60B-70A8-4E15-BA1F-A3B08A11CD15</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>E948AD75-BA0F-4FB7-80CC-647616160E41</key>
		<dict>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>1070</real>
		</dict>
		<key>EE2B25B7-8E5E-4CE4-AAA3-8F145B1B281F</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>tianhaox.com</string>
</dict>
</plist>
